@import url('./custom.less');

/* 布局 */
.w-full {
  width: 100%;
}
.h-full{
  height: 100%;
}
.w-img {
  width: 100%;
}
.in-block{
  display: inline-block
}
.ver-center{
  vertical-align: middle;
}

// flex 布局
.scroll-page {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.page-hide{
  visibility: hidden;
}
.scroll-flex {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.flex-1{
  flex: 1;
  overflow: hidden;
}
.flex-sb{
  display: flex;
  justify-content: space-between;
}
.txt-over {
  display:block;
  width: 100%;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.txt-bold{
  font-weight: 500;
}
.txt-left{
  text-align: left;
}
.txt-center{
  display: flex;
  align-items: center;
}
.txt-end{
  display: flex;
  align-items: flex-end;
}
.txt-two-over{
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 100%;
}

/* 间距 */
.mt16 {
  margin-top: @sp16;
}
.ml16 {
  margin-left: @sp16;
}
.mr16 {
  margin-right: @sp16;
}
.pt16 {
  padding-top: @sp16;
}
.pb16 {
  padding-bottom: @sp16;
}
.pt20 {
  padding-top: @sp20;
}
.pb20 {
  padding-bottom: @sp20;
}
.mt24 {
  margin-top: @sp24;
}
.ml24 {
  margin-left: @sp24;
}
.mb24 {
  margin-bottom: @sp24;
}
.mr24 {
  margin-right: @sp24;
}
.pt24 {
  padding-top: @sp24;
}
.pb24 {
  padding-bottom: @sp24;
}

// 颜色
.c333{
  color: @c333;
}
.c831{
  color: @c831;
}
.c555{
  color: @c555;
}
.cbbb{
  color: @cbbb;
}
.cfff{
  color: @cfff;
}

// 字体大小
.fs20 {
  font-size: 20px;
}
.fs22 {
  font-size: 22px;
}
.fs24 {
  font-size: 24px;
}
.fs26 {
  font-size: 26px;
}
.fs28 {
  font-size: 28px;
}
.fs30 {
  font-size: 30px;
}
.fs32 {
  font-size: 32px;
}
.fs40 {
  font-size: 40px;
}

// 背景
.bg-gray{
  background-color: #F4F4F4 !important;
}
.bg-white{
  background-color: #fff !important;
}